[Unit]
Description=Power Capping
After=xyz.openbmc_project.Settings.service

[Service]
ExecStart=/usr/bin/power-capping
Restart=always
RestartSec=3
SyslogIdentifier=power-capping
Type=simple

[Install]
WantedBy=multi-user.target

